@reboot screen -S minecraft -dm bash -c "cd /home/ec2-user/valhesia ; ./ServerStart.sh"
@reboot screen -S watcherScript -dm bash -c "/home/ec2-user/watcher.sh"
0 2 * * * /usr/bin/aws s3 cp /home/ec2-user/valhesia/backups/ s3://minecraft-valhesia-backups/ --recursive
